REACT_APP_MNEMONIC=test test test test test test test test test test test junk
REACT_APP_RPC_URL=http://localhost:8545

# Host mode and production mode
REACT_APP_CHAIN_ID=31337
REACT_APP_NETWORK=localhost
REACT_APP_SPENDER_ADDRESS=0xF119CC4Ed90379e5E0CC2e5Dd1c8F8750BAfC812
REACT_APP_INSPECT_URL_API=http://localhost:5005/inspect
REACT_APP_GRAPHQL_URL=http://localhost:4000/graphql


# Testnet
# REACT_APP_CHAIN_ID=5
# REACT_APP_NETWORK=testnet
# REACT_APP_SPENDER_ADDRESS=0x395c9AA686711FFdcD8157c1Cf72F7e510a43065
# REACT_APP_INSPECT_URL_API=https://voting.goerli.rollups.staging.cartesi.io/inspect
# REACT_APP_GRAPHQL_URL=https://voting.goerli.rollups.staging.cartesi.io/graphql